
/*Fuente de letra que se va a utilizar en toda la página */
@font-face {
    font-family: themillion;
    src: url(HelveticaNowText-Light.ttf);
}

body {
    font-family: themillion;    
    background-color: #CDCDCD;
    height: 100%;
}

/*Tamaño de la imágen del logo */
.img-logo{
    margin: auto;
    width: 125px;
}

/*Contenido de la cabecera*/
header h1{
    margin: auto;
}

header p{
    align-items: center;
}

/*Contenido principal */
#contenedor{
    width: 1000px;
	background-color: white;
	margin: 0 auto;
	padding: 10px;
	border:5px solid #CDCDCD;
    text-align: center;
}



/*Configuración de las caracteristicas definidas para la forma en la que se nos
mostrará la barra de navegación entre las distintas pantallas de la página web */
.barranav{
    margin-top: 5px;
    margin-bottom: 5px;
}

.barranav li{
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    width: 75%;
    margin: auto;
    background-color: rgb(21, 139, 235);
}


/*Contenido que se nos muestra a la hora de registrarlos o de iniciar sesión
en la página */
.contenidoLogin, .contenidoRegistro{
    background-color: white;
    margin: 50px 0 50px 0;
    display: grid;
    align-items: center;
    justify-content: center;
}


fieldset {
	border: 1px solid black;
    width: 25em;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}


legend {
    color: #fff;
    background: #303030;
    border: 1px solid black;
    width: 25%;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    font-size: larger;
    border-radius: 5px;
} 


/*Cabecera*/
header {
	padding: 30px;
	background-color: #303030;
	color: white;
    display: flex;
}

form{
    width: auto;
}



input, textarea, select, button {
    width : 150px;
}

/*Css para definir las caracteristicas con las que queremos que se nos
muestren todos los botones que tenemos en nuestra página web */
button{
    color: white;
    background-color: #303030;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
button:hover{
    background-color: #CDCDCD;
    color: black;
}

/*Css para definir las caracteristicas con las que queremos que se nos
muestren todos los enlaces a otras pantallas que tenemos en nuestra página web */
a{
    color: rgb(21, 139, 235);
    text-decoration: none;
    margin-right: 10px;
}

a:hover{
    color: white;
}
main {
	padding: 10px;
	float: left;
	min-height: 600px;
	width: 500px;
	background-color: white;
}

/*Pie de la página */
footer	 {
	clear: both;
	padding: 20px;
	background-color: #303030;
	color: white;
	text-align: center;
    margin-top: 20px;
}

div.saludo {
	width: 100%;
	text-align: right;
}
    
/*Esta parte del css está configurada la sección del catalogo,
donde se ha decidido el tamaño de cada producto, junto con su respectiva información,
la forma en la que se muestran los productos y podemos ver de forma general todos los productos
que forman nuestra página web */
.catalogo{
    margin: auto;
    text-align: center;
}
/*Propiedades especificas de la vista de cada producto en el catálogo*/
.contenedor .catalogo .producto {
    width: 300px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all;
    float:left;
    padding-bottom: 20px;
    display: block;
    border: solid 2px black;

}

/*Caracteristicas de la forma que tiene que tener el producto para mostrarlo 
por pantalla */
.producto{
    
    align-items: center;
}

.producto img{
    width: 300px;
    margin-top: 10px;
}

/*Se refiere al código especifico del catalogo de ropa de la tienda online, especificamente a la vista de cada
 producto y define las propiedades que debe tener cuando el ratón se posa encima del producto*/

.contenedor .catalogo .producto:hover{
    transform: translate(-15px);
    box-shadow: 12px 16px rgba(0,0,0,0.2);
    background-color: black;
    color: white;
    border: solid 2px rgb(21, 139, 235);
    text-align: center;
    justify-content: center;
}
/*Define las porpiedadses de las imagenes de los productos en los catálogos*/
.contenedor .catalogo .producto img{
    width: auto;
    height: 220px;
    
}
/*Define las propiedades de los diferentes elementos de texto del catálogo*/
.contenedor .catalogo .producto h4{
    font-weight: 600;
}
.contenedor .catalogo .producto p{
    padding: 0 2rem;
    font-weight: 400;
    font-size: 14px;
}
.contenedor .catalogo .producto a{
    font-weight: 500;
    text-decoration: none;
  
}
/*Define las propiedades del enlace que nos lleva a la parte de compra de producto*/
.producto a{
    color: black;
    background-color: rgb(65, 197, 218);
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    border: solid 2px black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.producto a:hover{
    color: white;
    background-color:  red;
}

/*Css para mostrar valoraciones de un producto un producto */
/*Se muestra el título de la valoracion, el nombre de usuario y las estrellas, la descripción y la fecha*/
.divVal {
    margin-top: 30px;
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

/*Caja de una valoracion*/
.valoracion {
    color: black;
    background-color: white;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    top: 10px;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    border: solid;
    padding-left: 20px;
    border-color: rgb(65, 197, 218);
    border-radius: 5px;
    width: 500px;
    height: auto;
}
/*Título*/
.valoracion h2{
    text-decoration:underline;
}
/*usuario*/
.valoracion h4 {
    font-style: italic;
}
/*Valoracion en estrellas*/
.estrellas {

    border: none;
    font-weight: bold;
    font-size: 40px;
}
.sel {
    width: 100px;
    height: 21px;
    display: block;
    background: url(http://lh5.googleusercontent.com/-Sp-iHFztZdc/UVD89O9oM1I/AAAAAAAAEU0/Xh-FBDaWyJY/s000/estrellas.png) 0 0 no-repeat;
       
}
.sel-0 {
    background-position: -100px 0;
}
.sel-1 {
    background-position: -81px 0;
}
.sel-2 {
    background-position: -60px 0;
}
.sel-3 {
    background-position: -40px 0;
}
.sel-4 {
    background-position: -21px 0;
}
.sel-5 {
    background-position: 0 0;
}
/*fecha*/
.fecha{
    text-align:right;
    font-style:italic;
    font-size:12px;
}
/*Css para cuando se quiere valorar un producto */
/*Esta parte de la página está dividida en varias secciones: 
    Descripción del producto, valoración en cuanto a las entrellas, 
    junto con el titulo y la descripción de la valoración */
.formularioValoracion-seccion {
    font-size: 20px;
    font-weight: bold;
}
.formularioValoracion-clasificacion {

    font-size: 30px;
    direction: rtl; /* right to left */
    unicode-bidi: bidi-override; /* bidi de bidireccional */
}

.formularioValoracion-clasificacion input[type = "radio"] {
    display: none;
}

.formularioValoracion-clasificacion label {
    color: grey;
}

.formularioValoracion-clasificacion label:hover,
.formularioValoracion-clasificacion label:hover ~ label {
    color: orange;
}

.formularioValoracion-clasificacion input[type="radio"]:checked ~ label {
        color: orange;
    }
.formularioValoracion-titulo {
   
    width: 500px;
}

.formularioValoracion-desc{
    width:500px;
    height:250px;
}
/*Estilo del localizador de tiendas*/

.contenedor .catalogo .tienda {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all;
    float: left;
    padding-bottom: 20px;
    display: block;
    border: solid 2px black;
}

.contenedor .catalogo .tienda:hover {
    transform: translate(-15px);
    box-shadow: 12px 16px rgba(0,0,0,0.2);
    background-color: black;
    color: white;
    border: solid 2px rgb(21, 139, 235);
    text-align: center;
    justify-content: center;
}
/*Ajustes para las letras que nos salgan en el caso de que tengamos 
un error a la hora de introducir los datos requeridos */
.error{
    color: white;
    background-color: red;
    font-weight: bold;
    padding: 2px;
}

.contenedor{
    margin: auto;
}

/*Ajustes del contenido cuando se visualiza la página web en una pantalla
más pequeña a la del ordenador*/
@media screen and (max-width: 1000px) {

    header{
        display: flex;
        flex-direction: column;
    }

    header p{
       text-align: center;
    }

    #contenedor{
        width: auto;
    }

    .barranav{
        text-align: center;
        margin: auto;
    }
    .barranav ul{
        display: block;
        justify-content: center;
    }


    .catalogo .producto{
       display: block;
    }

   

    .producto a{
        display: block;
        width: 25%;
        margin: auto;
    }

    #formLogin p{
        width: auto;
    }

    .formularioValoracion-desc .formularioValoracion-titulo{
        display: flex;
    }


}

/*Ajustes del contenido cuando utilizamos la pantalla Completa*/

@media (min-width: 1200.98px)  {

    header{
        display: flex;
    }

    body{
        width: 1200px;
        margin: auto;
    }

    #contenedor{
        width: auto;
        align-items: center;
        margin: auto;
    }



    .catalogo .producto{
        display: flex;
        margin: auto;
        width: 350px;
     }
    
}
/* CSS específico del carrito de compra*/
.contenedor.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.contenedor.icon-cart:hover{
    cursor: pointer;
}
.contenedor.container-icon{
    position: relative;
}

.contenedor.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.contenedor.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.contenedor.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.contenedor.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.contenedor.titulo-producto-carrito{
    font-size: 20px;
}

.contenedor.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.contenedor.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.contenedor.icon-close{
    width: 25px;
    height: 25px;
}

.contenedor.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.contenedor.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.contenedor.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.contenedor.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.contenedor.hidden-cart{
    display: none;
}
.contenedor.cart-empty{
    padding: 20px;
    text-align: center; 
}

form#añadir_usuario {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
}


