
/*Fuente de letra que se va a utilizar en toda la página */
@font-face {
    font-family: themillion;
    src: url(HelveticaNowText-Light.ttf);
}


body {
    font-family: themillion;    
    background-color: #CDCDCD;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #303030;
	color: white;
}

header .logo {
    max-height: 20vh;  
    width: auto;  
}

header .menu {
    display: flex;
    gap: 15px; 
}

header .menu p {
    margin: 0;
}



/*Contenido principal */
#contenedor{
    width: 100%;
	background-color: white;
	margin: 0 auto;
	padding: 10px;
	border:5px solid #CDCDCD;
    text-align: center;
}





/*Contenido que se nos muestra a la hora de registrarlos o de iniciar sesión
en la página */
.contenidoLogin, .contenidoRegistro{
    background-color: white;
    margin: 50px 0 50px 0;
    display: grid;
    align-items: center;
    justify-content: center;
}



input, textarea, select{
    width : 150px;
}

/*Css para definir las caracteristicas con las que queremos que se nos
muestren todos los botones que tenemos en nuestra página web */
button{
    color: white;
    background-color: #303030;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    width : 150px;
}

button:hover{
    background-color: #CDCDCD;
    color: black;
}

/*Css para definir las caracteristicas con las que queremos que se nos
muestren todos los enlaces a otras pantallas que tenemos en nuestra página web */
a{
    color: rgb(21, 139, 235);
    text-decoration: none;
    margin-right: 10px;
}

a:hover{
    color: #2f9969; 
}


/*Pie de la página */
footer	 {
	clear: both;
	padding: 20px;
	background-color: #303030;
	color: white;
	text-align: center;
    margin-top: 20px;
}



.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

#userList {
    border-spacing: 15px;  
    width: 100%;
    margin: 0 auto;
}

.boton_lista{
        display: inline; 
}

.error {
    display: flex;  
    margin-top: 10px;  
    min-width: 300px;
    min-height: 30px;
    border-radius: 10px;
    padding: 10px;  
    background: #ff6860;
    border: 2px solid #dc1818;
    color: #ffffff;  /* Cambia el color a blanco para mejor contraste */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Añade sombra para dar un efecto de profundidad */
    font-weight: bold;  /* Texto en negrita para mayor visibilidad */
    justify-content: center;
    align-items: center;
}

.mensaje {
    display: flex;  
    margin-top: 10px;  
    min-width: 300px;
    min-height: 30px;
    border-radius: 10px;
    padding: 10px;  
    background: #1ef993;
    border: 2px solid #10f014;
    color: #ffffff;  /* Cambia el color a blanco para mejor contraste */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Añade sombra para dar un efecto de profundidad */
    font-weight: bold;  /* Texto en negrita para mayor visibilidad */
    justify-content: center;
    align-items: center;
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1; /* Por encima de todo el contenido */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.boton_lista {
    margin-top: 10px;
}

#buscador{
    margin-top: 10px;
}